extends layout

block content
    form(method="post", action="/books")
        input(type="text", name="name", placeholder="Nome")
        br
        br
        select(name="AuthorId")
          each author in authors
              option(value=author.id)=author.name
        br
        br
        input(type="submit", value="Salvar")
